@model RatingPartialModel

<div class="row mb-3">
    <div class="col-2">
        @Model.MinLabel
    </div>
    <div class="col-8">
        <select id="@Model.Name" name="@Model.Name" class="rating-component editable">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </select>
    </div>
    <div class="col-2">
        @Model.MaxLabel
    </div>
</div>