@model RatingReadonlyPartialModel

<div class="row">
    <div class="col-2">
        <img class="float-right" width="20" src="/@Model.Image" data-toggle="tooltip" data-placement="top" title="@Model.Label" />
    </div>
    <div class="col-10">
        <select id="@Model.Label" class="rating-component readonly">
            @if (Model.Score == 1)
            {
                <option value="1" selected></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
            }
            @if (Model.Score == 2)
            {
                <option value="1"></option>
                <option value="2" selected></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
            }
            @if (Model.Score == 3)
            {
                <option value="1"></option>
                <option value="2"></option>
                <option value="3" selected></option>
                <option value="4"></option>
                <option value="5"></option>
            }
            @if (Model.Score == 4)
            {
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4" selected></option>
                <option value="5"></option>
            }
            @if (Model.Score == 5)
            {
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5" selected></option>
            }
        </select>
    </div>
</div>
