@model IEnumerable<RecipeRating.Web.Models.UsersRolesModel>

@{
    ViewData["Title"] = "Users";
}

<h1>User Management</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.Email
                </td>
                <form asp-action="ChangeRole" asp-route-id="@item.Id">
                <td>
                    <select name="RoleName" class="form-control" data-style="btn-primary">
                            @if (item.RoleName == "Admin")
                            {
                            <option value="User">User</option>
                            <option value="Manager">Manager</option>
                            <option value="Admin" selected>Admin</option>
                            }
                            @if (item.RoleName == "Manager")
                            {
                            <option value="User">User</option>
                            <option value="Manager" selected>Manager</option>
                            <option value="Admin">Admin</option>
                            }
                            @if (item.RoleName == "User")
                            {
                            <option value="User" selected>User</option>
                            <option value="Manager">Manager</option>
                            <option value="Admin">Admin</option>
                            }
                    </select>
                </td>
                <td>
                    <input type="submit" value="Change role" class="btn btn-primary" />
                </td>
                </form>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
<script type="text/javascript">
    $('.selectpicker').selectpicker('refresh');
</script>
}