@{
    ViewData["Title"] = "Home";
}
<style>
    html{
	height: 100%;
}
body{
	background-image: url(landing.jpg);
	background-size:cover;
	background-position: center;
	/*color:darkgrey;*/
}
h1{
	font-size: 5em;
	font-weight: bold;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
	text-shadow: 0px 8px 13px rgba(0,0,0,0.1);
	text-shadow: 0px 18px 23px rgba(0,0,0,0.1);
}
h5{
	/*font-size:17px;*/
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
	text-shadow: 0px 8px 13px rgba(0,0,0,0.1);
	text-shadow: 0px 18px 23px rgba(0,0,0,0.1);

}
#content{
	text-align:left;
	padding-top: 15%;

}
hr{
/* a horizontal rule can really help organize and 'clean up' landing pages... */
	visibility:hidden;
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

</style>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="content">
				<h1>You Taste</h1>
				<h5>Watch, try, taste, rate!<br /><br /> Rate YouTube recipes.<br /> Find the recipe you are looking for.<br />Browse by categories, dishes and your YouTube subscriptions.</h5>
				<hr />
				<button class="btn btn-light">Login now</button>
			</div>
		</div>
	</div>
</div>
