@using static RecipeRating.Web.Models.YtSearchResponseModels
@model RecipeRating.Web.Models.RecipeInputModel

@{
    ViewData["Title"] = "Create";
}
<style>
    .table-wrapper {
        max-height: 500px;
        overflow: auto;
        display: inline-block;
    }
</style>
<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label id="category-label" class="control-label">Category</label>
                <select id="category" class="selectpicker form-control" data-live-search="true" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DishId" class="control-label">Dish</label>
                <select asp-for="DishId" id="dish-select" class="selectpicker form-control" data-live-search="true"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input id="name" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbnailUrl" class="control-label">Thumbnail</label>
                <input id="thumbnail" asp-for="ThumbnailUrl" class="form-control" />
                <span asp-validation-for="ThumbnailUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label">YouTube Video Id</label>
                <div class="input-group">
                    <input asp-for="Url" id="video-id" class="form-control" placeholder="Url" aria-label="Url" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="import-video-id" class="btn btn-outline-light" type="button">Import</button>
                    </div>
                </div>
                @*<input id="video-id" asp-for="Url" class="form-control" />*@
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="provider-account-id" asp-for="ProviderAccountId" class="form-control" type="hidden">
            </div>
            <div class="form-group">
                <input id="account-id" asp-for="AccountId" class="form-control" type="hidden">
            </div>
            <div class="form-group">
                <label asp-for="AccountName" class="control-label">Channel name</label>
                <input id="account-name" asp-for="AccountName" class="form-control" type="text" readonly>
            </div>
            <div class="form-group">
                <input asp-for="AccountImageUrl" class="form-control" type="hidden">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input id="search-input" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button id="search" class="btn btn-outline-light" type="button">Search</button>
            </div>
        </div>
        <partial name="_SearchTable" />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
<script type="text/javascript" src="~/js/Recipes/Create.js"></script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


